// blog page style

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 35px;
  .date {
    display: flex;
    margin-bottom: 10px;
    .published-date {
      margin-right: 16px;
    }
  }
  .title {
    line-height: 1.3;
    margin-bottom: 30px;
  }
  .top-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
}
